<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
		<title>首页</title>
		<script src="js/mui.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/color.css" rel="stylesheet" />
		<style>
			html,
			body {
				background-color: #efeff4;
			}
			.mui-content{
				padding-bottom: 50px;
			}
			img{
				border-radius: 2px;
			}
			.mui-bar-transparent{
				opacity: 0;
				background-color: rgba(240, 61, 55, 0);
			}
			.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
			    color: #007aff;
			    border-bottom: none;
			    background: 0 0;
			}
			#slider .mui-slider-group .mui-slider-item a img{
				height: 120px;
			}
			/*输入框*/
			.mui-search .mui-placeholder .mui-icon,.mui-search.mui-active:before{
				color: #fff;
			}
			/*热映*/
			.content-padded{
				padding: 11px 21px;
				background: #fff;
			}
			.ver-hot img{
				display: block;
				width: 100px;
				height: 150px;
			}
			.ver-hot>a>div{
				margin: 4px 0;
			}
			.ver-hot>a>div>span{
				display: inline-block;
				height: 33px;
				line-height: 37px;
			}
			.ver-hot .mui-btn{
				height: 25px;
				width: 53px;
				border-radius: 25px;
				padding: 0;
				text-align: center;
			}
			.ver-hot .ping{
				width: 100%;
				padding-left: 4px;
				background-color: rgba(0,0,0,0.3);
				position: absolute;
				bottom: 72px;
				text-align: left;
			}
			/*观察*/
			.mui-table-view .mui-table-view-cell .img{
				width: 100%;
				height: 120px;
			}
			.imgs-wrapper{
				display: flex;
				justify-content: space-between;
				margin: 0 auto;
			}
			.imgs-wrapper img{
				width: 32%;
				height: 145px;
			}
			.newsttile{
				color: rgb(87,86,86);
			}
			/*遮罩*/
			.mui-backdrop {
			    position: fixed;
			    top: 0;
			    right: 0;
			    bottom: 0;
			    left: 0;
			    z-index: 998;
			    background-color: rgba(0,0,0,.3);
			}
		</style>
	</head>
	<body>
		<div id="index">
			<header class="mui-bar mui-bar-transparent">
		        <div class="mui-input-row mui-search">
			        <input type="search" class="mui-input-clear" placeholder="">
			    </div>
		    </header>
			<div id="pullUpRefresh" class="mui-content mui-scroll-wrapper">
				<div class="mui-scroll">
					<div class="title">
						<div class="mui-slider">
						  <div class="mui-slider-group mui-slider-loop">
						    <!--支持循环，需要重复图片节点-->
						    <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="images/b4.jpg" /></a></div>
						    <div class="mui-slider-item"><a href="#"><img src="images/b1.jpg" /></a></div>
						    <div class="mui-slider-item"><a href="#"><img src="images/b2.jpg" /></a></div>
						    <div class="mui-slider-item"><a href="#"><img src="images/b3.jpg" /></a></div>
						    <div class="mui-slider-item"><a href="#"><img src="images/b4.jpg" /></a></div>
						    <!--支持循环，需要重复图片节点-->
						    <div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src="images/b1.jpg" /></a></div>
						  </div>
						</div>
						<div class="content-padded">
							<span class="font18">热映任务</span>
							<span id="more" class="mui-pull-right font-gray font-mid">全部 ></span>
						</div>
						<div class="mui-slider" id="secondSlider">
							<div class="mui-slider-group">
								
								<div class="mui-slider-item">
									<ul class="mui-table-view mui-grid-view">
										<li class="ver-hot mui-table-view-cell mui-media mui-col-xs-4">
											<a href="#item1mobile">
												<img :src="hotList[0].titleImg"  @tap="movieInfo(hotList[0].id)"/>
												<div>
													<div class='ping font-orange font-mid'>经理评<span v-text="hotList[0].pingfen"></span></div>
													<span class="mui-ellipsis">{{hotList[0].name}}</span>
													<br />
													<button class="mui-btn mui-btn-red" @tap="pushTask(hotList[0])" v-if="user.type == 1">+票房</button>
													<button class="mui-btn mui-btn-red" @tap="baochang(hotList[0].id)" v-if="user.type == 2">包场</button>
												</div>
											</a>
										</li>
										<li class="ver-hot mui-table-view-cell mui-media mui-col-xs-4">
											<a href="#item1mobile">
												<img :src="hotList[1].titleImg"  @tap="movieInfo(hotList[1].id)"/>
												<div>
													<div class='ping font-orange font-mid'>经理评<span v-text="hotList[1].pingfen"></span></div>
													<span class="mui-ellipsis">{{hotList[1].name}}</span>
													<br />
													<button class="mui-btn mui-btn-red" @tap="pushTask(hotList[1])" v-if="user.type == 1">+票房</button>
													<button class="mui-btn mui-btn-red" @tap="baochang(hotList[1].id)" v-if="user.type == 2">包场</button>
												</div>
											</a>
										</li>
										<li class="ver-hot mui-table-view-cell mui-media mui-col-xs-4">
											<a href="#item1mobile">
												<img :src="hotList[2].titleImg"  @tap="movieInfo(hotList[2].id)"/>
												<div>
													<div class='ping font-orange font-mid'>经理评<span v-text="hotList[2].pingfen"></span></div>
													<span class="mui-ellipsis">{{hotList[2].name}}</span>
													<br />
													<button class="mui-btn mui-btn-red" @tap="pushTask(hotList[2])" v-if="user.type == 1">+票房</button>
													<button class="mui-btn mui-btn-red" @tap="baochang(hotList[2].id)" v-if="user.type == 2">包场</button>
												</div>
											</a>
										</li>
									</ul>
								</div>
								<div class="mui-slider-item">
									<ul class="mui-table-view mui-grid-view">
										<li class="ver-hot mui-table-view-cell mui-media mui-col-xs-4">
											<a href="#item1mobile">
												<img :src="hotList[3].titleImg"  @tap="movieInfo(hotList[3].id)"/>
												<div>
													<div class='ping font-orange font-mid'>经理评<span v-text="hotList[3].pingfen"></span></div>
													<span class="mui-ellipsis">{{hotList[3].name}}</span>
													<br />
													<button class="mui-btn mui-btn-red" @tap="pushTask(hotList[3])" v-if="user.type == 1">+票房</button>
													<button class="mui-btn mui-btn-red" @tap="baochang(hotList[3].id)" v-if="user.type == 2">包场</button>
												</div>
											</a>
										</li>
										<li class="ver-hot mui-table-view-cell mui-media mui-col-xs-4">
											<a href="#item1mobile">
												<img :src="hotList[4].titleImg"  @tap="movieInfo(hotList[4].id)"/>
												<div>
													<div class='ping font-orange font-mid'>经理评<span v-text="hotList[4].pingfen"></span></div>
													<span class="mui-ellipsis">{{hotList[4].name}}</span>
													<br />
													<button class="mui-btn mui-btn-red" @tap="pushTask(hotList[4])" v-if="user.type == 1">+票房</button>
													<button class="mui-btn mui-btn-red" @tap="baochang(hotList[4].id)" v-if="user.type == 2">包场</button>
												</div>
											</a>
										</li>
										<li class="ver-hot mui-table-view-cell mui-media mui-col-xs-4">
											<a href="#item1mobile">
												<img :src="hotList[5].titleImg"  @tap="movieInfo(hotList[5].id)"/>
												<div>
													<div class='ping font-orange font-mid'>经理评<span v-text="hotList[5].pingfen"></span></div>
													<span class="mui-ellipsis">{{hotList[5].name}}</span>
													<br />
													<button class="mui-btn mui-btn-red" @tap="pushTask(hotList[5])" v-if="user.type == 1">+票房</button>
													<button class="mui-btn mui-btn-red" @tap="baochang(hotList[5].id)" v-if="user.type == 2">包场</button>
												</div>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						
					</div>
					<div class="content-padded" style="margin-top: 8px;">
						<span class="font18">影视观察</span>
					</div>
					<ul class="mui-table-view">
						<li class="mui-table-view-cell" v-for="item in filmNews" @tap="toFilmNews(item.id)" v-if="item.newstype==2">
							<div class="mui-card-content">
								<div class="newsttile" v-text="item.newsttile"></div>
								<img class="img" :src="item.homepic"/>
							</div>
							<p class="font-min">
								<span v-text="item.souce"></span>
								<span v-text="item.createdate"></span>
							</p>
						</li>
						<li class="mui-table-view-cell" v-for="item in filmNews" @tap="toFilmNews(item.id)" v-if="item.newstype==1">
							<div class="mui-card-content" style="width: 100%;">
								<div class="newsttile" v-text="item.newsttile"></div>
								<div class="imgs-wrapper">
									<img :src="item.homepic"/>
									<img :src="item.homepic"/>
									<img :src="item.homepic"/>
								</div>
							</div>
							<p class="font-min">
								<span v-text="item.souce"></span>
								<span v-text="item.createdate"></span>
							</p>
						</li>
					</ul>
				</div>
			</div>
			<div class="mui-backdrop" style="display: none;" id="mask" @tap="clo"></div>
			<div class="mui-popup mui-popup-in" style="display: none;" id="maskInner">
				<div class="mui-popup-inner">
					<div class="mui-popup-title mui-pull-right" @tap="clo">×</div>
					<div class="mui-popup-text font-red">
						<img src="images/nopass.png" width="100%" />
						您有<span v-text="orderNumber"></span>条任务未通过审核哦！
					</div>
				</div>
				<div class="mui-popup-buttons">
					<span class="mui-popup-button mui-popup-button-bold" @tap="watchMsg(2,'item5')">我去看看</span>
				</div>
			</div>
		</div>
		

		<script src="./js/util.js"></script>
		<script src="./js/app.js"></script>
		<script src="./libs/easymob-webim-sdk/jquery-1.11.1.js"></script>
		<script src="./js/immersed.js"></script>
		<script src="./js/mui.pullToRefresh.js"></script>
		<script src="./js/mui.pullToRefresh.material.js"></script>
		<script src="./libs/vue.js" type="text/javascript"></script>
		<script src="./js/movieAjax.js" type="text/javascript"></script>
		<script type="text/javascript">
			new Vue({
				el: "#index",
				data: {
					orderNumber: '',
					user: {
						memid: 0,
					    comId: 0,
					    memName: "",
					    memPwd: "",
					    type: "",
					    mobile: "",
					    email: null,
					    isactived: null,
					    flag: null,
					    lastLogintime: "",
					    regdate: "",
					    expiryDate: null,
					    roles: "",
					    lastpasswordresetdate: "",
					    titleImg: "",
					    deviceId: ""
					},
					hotList: [
						{
							id : 49,
						    name : "大闹天宫",
						    ename : "The Monkey King 2D",
						    titleImg : "./images/imgLoading.gif",
						    ctype : "动画",
						    ltime : "中国大陆 / 88分钟",
						    playdate : "2017-10-13大陆上映",
						    xiangkan : "8179",
						    pingfen : "8.3",
						    fen910 : "60.7%",
						    fen58 : "32.8%",
						    fen14 : "6.5%",
						    xiangbaochang : 0,
						    yibaochang : 0
						},{
							id : 49,
						    name : "大闹天宫",
						    ename : "The Monkey King 2D",
						    titleImg : "./images/imgLoading.gif",
						    ctype : "动画",
						    ltime : "中国大陆 / 88分钟",
						    playdate : "2017-10-13大陆上映",
						    xiangkan : "8179",
						    pingfen : "8.3",
						    fen910 : "60.7%",
						    fen58 : "32.8%",
						    fen14 : "6.5%",
						    xiangbaochang : 0,
						    yibaochang : 0
						},{
							id : 49,
						    name : "大闹天宫",
						    ename : "The Monkey King 2D",
						    titleImg : "./images/imgLoading.gif",
						    ctype : "动画",
						    ltime : "中国大陆 / 88分钟",
						    playdate : "2017-10-13大陆上映",
						    xiangkan : "8179",
						    pingfen : "8.3",
						    fen910 : "60.7%",
						    fen58 : "32.8%",
						    fen14 : "6.5%",
						    xiangbaochang : 0,
						    yibaochang : 0
						},{
							id : 49,
						    name : "大闹天宫",
						    ename : "The Monkey King 2D",
						    titleImg : "./images/imgLoading.gif",
						    ctype : "动画",
						    ltime : "中国大陆 / 88分钟",
						    playdate : "2017-10-13大陆上映",
						    xiangkan : "8179",
						    pingfen : "8.3",
						    fen910 : "60.7%",
						    fen58 : "32.8%",
						    fen14 : "6.5%",
						    xiangbaochang : 0,
						    yibaochang : 0
						},{
							id : 49,
						    name : "大闹天宫",
						    ename : "The Monkey King 2D",
						    titleImg : "./images/imgLoading.gif",
						    ctype : "动画",
						    ltime : "中国大陆 / 88分钟",
						    playdate : "2017-10-13大陆上映",
						    xiangkan : "8179",
						    pingfen : "8.3",
						    fen910 : "60.7%",
						    fen58 : "32.8%",
						    fen14 : "6.5%",
						    xiangbaochang : 0,
						    yibaochang : 0
						},{
							id : 49,
						    name : "大闹天宫",
						    ename : "The Monkey King 2D",
						    titleImg : "./images/imgLoading.gif",
						    ctype : "动画",
						    ltime : "中国大陆 / 88分钟",
						    playdate : "2017-10-13大陆上映",
						    xiangkan : "8179",
						    pingfen : "8.3",
						    fen910 : "60.7%",
						    fen58 : "32.8%",
						    fen14 : "6.5%",
						    xiangbaochang : 0,
						    yibaochang : 0
						}
					],
					filmNews: [
						{
							newsttile:'这是标题',
							homepic: '../images/yuantiao.jpg',
							souce: '今日头条',
							createdate: '2017-10-21'
						}
					]
				},
				mounted: function(){
					var that = this;
					var gallery = mui('.mui-slider');
					gallery.slider({
					  interval:5000//自动轮播周期，若为0则不自动播放，默认为0；
					});
					mui('#secondSlider').slider({
					  interval:0 //自动轮播周期，若为0则不自动播放，默认为0；
					});
					
					if(mui.os.ios){     //注意，这里是小写的android   
					    mui('.mui-bar-transparent').transparent({
						    top: 0,
						    offset: 150,
						    duration: 16,
						    scrollby: document.querySelector('.mui-scroll-wrapper')
						})
					}  
					getData();
					window.addEventListener("indexrefresh", function (e) {
	        			getData();
	        		})
					function getData(){
						//获取当前类型
						that.user = app.getUser();			 
						//alert(that.user.stype);
						//获取热映电影
						aja.getAllHostFilms(1,function(data){
							that.hotList = data.list;
						})
					}
					//获取影视快讯
					aja.getFilmNews(1,function(data){
						that.filmNews = data.list;
						that.filmNews.pageNum = data.pageNum;
						console.log(JSON.stringify(data));
					});
					//打开页面时的遮罩
					if(that.user.type == 2){
						aja.getTaskOrderByMemid(4,1,function(data){//check,page
							console.log(JSON.stringify(data))
							that.orderNumber = data.total;
							if(data.total==0){
								return;
							}
							var mask = document.getElementById('mask');
							var maskInner = document.getElementById('maskInner');
							mask.style.display = maskInner.style.display = 'block';
						})
						
					}
					
					//向上滑动
					mui.init({
						swipeBack: false,
						pullRefresh: {
							container: '#pullUpRefresh',
							up: {
								contentrefresh: '正在加载...',
								callback: upRefresh
							}
						}
					});
					function upRefresh(){
						setTimeout(function() {
							aja.getFilmNews(that.filmNews.pageNum+1,function(data){
								
								if(!data.list[0]){
									mui('#pullUpRefresh').pullRefresh().endPullupToRefresh(true)
								}else{
									app.afterList(that.filmNews,data.list);
									that.filmNews.pageNum = data.pageNum;
									mui('#pullUpRefresh').pullRefresh().endPullUpToRefresh();
								}
							});
						}, 1000);
					}
					//消息推送
					document.addEventListener( 'plusready', function(){
					    message = document.getElementById('message');
					    // 监听点击消息事件
					    plus.push.addEventListener( 'click', function( msg ) {
					        // 判断是从本地创建还是离线推送的消息
					        switch( msg.payload ) {
					            case 'LocalMSG':
					                outSet( '点击本地创建消息启动：' );
					            break;
					            default:
					                outSet( '点击离线推送消息启动：');
					            break;
					        }
					        // 提示点击的内容
					        plus.ui.alert( msg.content );
					        // 处理其它数据
					        logoutPushMsg( msg );
					    }, false );
					    // 监听在线消息事件
					    plus.push.addEventListener( 'receive', function( msg ) {
					        if ( msg.aps ) {  // Apple APNS message
					            outSet( '接收到在线APNS消息：' );
					        } else {
					            outSet( '接收到在线透传消息：' );
					        }
					        logoutPushMsg( msg );
					    }, false );
					}, false );
					mui.plusReady(function() {
						//顶部状态栏是否透明
						var header = document.getElementsByTagName('header')[0];
						header.style.paddingTop = app.Immersed(header)+'px';
						header.style.height = header.offsetHeight + app.Immersed(header) + 'px';
						//是否首次安装
						var showGuide = plus.storage.getItem("lauchFlag");
						//仅支持竖屏显示
						plus.screen.lockOrientation("portrait-primary");
						if(showGuide) {
							//有值，说明已经显示过了，无需显示；
							//关闭splash页面；
							plus.navigator.closeSplashscreen();
							plus.navigator.setFullscreen(false);
							//预加载
//							preload();
						} else {
							//显示启动导航
							mui.openWindow({
								id: 'guide',
								url: 'html/guide.html',
								styles: {
									popGesture: "none"
								},
								show: {
									aniShow: 'none'
								},
								waiting: {
									autoShow: false
								}
							});
							//延迟的原因：优先打开启动导航页面，避免资源争夺
							setTimeout(function() {
								//预加载
//								preload();
							}, 200);
						}
						
						 // 创建加载内容窗口
					    var topoffset='45px';
					    if(plus.navigator.isImmersedStatusbar()){// 兼容immersed状态栏模式
					        // 获取状态栏高度并根据业务需求处理，这里重新计算了子窗口的偏移位置
					        topoffset=(Math.round(plus.navigator.getStatusbarHeight())+45)+'px';
					    }
					    // 使用偏移位置创建子窗口
					    wc=plus.webview.create(null,'doccontent',{top:topoffset,bottom:'0px',bounce:'vertical',bounceBackground:'#FFFFFF'});
						
						// 创建子webview窗口 并初始化
						var aniShow = {};
						util.initSubpage(aniShow);
						
						var nview = plus.nativeObj.View.getViewById('tabBar'),
							activePage = plus.webview.currentWebview(),
							targetPage,
							subpages = util.options.subpages,
							pageW = window.innerWidth,
							currIndex = 0;
						
							
						/**
						 * 根据判断view控件点击位置判断切换的tab
						 */
						
						nview.addEventListener('click', function(e) {
							var clientX = e.clientX;
							if(clientX > 0 && clientX <= parseInt(pageW * 0.25)) {
								currIndex = 0;
								getData();
							} else if(clientX > parseInt(pageW * 0.25) && clientX <= parseInt(pageW * 0.5)) {
								currIndex = 1;
								mui.fire(plus.webview.getWebviewById(subpages[currIndex - 1]), "chatrefresh");
							} else if(clientX > parseInt(pageW * 0.5) && clientX <= parseInt(pageW * 0.75)) {
								currIndex = 2;
								
							} else {
								currIndex = 3;
								mui.fire(plus.webview.getWebviewById(subpages[currIndex - 1]), "settingrefresh");
							}
							// 匹配对应tab窗口	
							if(currIndex > 0) {
								targetPage = plus.webview.getWebviewById(subpages[currIndex - 1]);
							} else {
								targetPage = plus.webview.currentWebview();
							}
	
							if(targetPage == activePage) {
								return;
							}
	
	//						if(currIndex !== 3) { 
								//底部选项卡切换
								util.toggleNview(currIndex);
								// 子页面切换
								util.changeSubpage(targetPage, activePage, aniShow);
								//更新当前活跃的页面
								activePage = targetPage;
	//						} else {
	//							//第四个tab 打开新窗口
	//							plus.webview.open('html/new-webview.html', 'new', {}, 'slide-in-right', 200);
	//						}
						});
						//更多》》
						var more = document.getElementById('more');
						more.addEventListener('tap', function(e) {
							currIndex = 1;
							mui.fire(plus.webview.getWebviewById(subpages[currIndex - 1]), "chatrefresh");
							targetPage = plus.webview.getWebviewById(subpages[currIndex - 1]);
							//底部选项卡切换
							util.toggleNview(currIndex);
							// 子页面切换
							util.changeSubpage(targetPage, activePage, aniShow);
							//更新当前活跃的页面
							activePage = targetPage;
						})
					});
				},
				methods: {
					clo: function(){
						var mask = document.getElementById('mask');
						var maskInner = document.getElementById('maskInner');
						mask.style.display = maskInner.style.display = 'none';
					},
					watchMsg: function(type,item){
						var that = this;
						var mask = document.getElementById('mask');
						var maskInner = document.getElementById('maskInner');
						mask.style.display = maskInner.style.display = 'none';
						
						if(!that.user.memid){
							app.mainPage('login')
							return;
						}
						if(type == 1){
							mui.openWindow({
								url: './html/main.html',
								id: 'main',
								preload: true,
								show: {
									aniShow: 'pop-in'
								},
								styles: {
									popGesture: 'hide'
								},
								waiting: {
									autoShow: false
								}
							});
						}else if(type == 2){
							mui.openWindow({
								url: './html/mainy.html',
								id: 'mainy',
								preload: true,
								show: {
									aniShow: 'pop-in'
								},
								styles: {
									popGesture: 'hide'
								},
								waiting: {
									autoShow: false
								}
							});
						}
						localStorage.setItem('_tabItem_',item);
						
					},
					more: function(){
						var aniShow = {};
						var subpages = util.options.subpages;
						var targetPage = plus.webview.getWebviewById(subpages[0]);
						var activePage = plus.webview.currentWebview();
						//底部选项卡切换
						util.toggleNview(1);
						// 子页面切换
						util.changeSubpage(targetPage, activePage, aniShow);
						//更新当前活跃的页面
						activePage = targetPage;
//						util.changeSubpage("html/tab-webview-film.html")
					},
					baochang: function (id) {//抢list
						var that = this;
						if(!that.user.memid){
							app.mainPage('./html/login')
							return;
						}
						localStorage.setItem('__movieinfo_',id)
                        mui.openWindow({
                            url: './sonPage/qiangList.html',
                            id: 'qiangList',
                            preload: true,
                            show: {
                                aniShow: 'pop-in'
                            },
                            styles: {
                                popGesture: 'hide'
                            },
                            waiting: {
                                autoShow: false
                            }
                        });
                    },
					pushTask: function (info){//发布
						if(!app.getUser().memid){
							mui.openWindow({
				                url: './html/login.html',
				                id: 'login',
				                preload: true,
				                show: {
				                    aniShow: 'pop-in'
				                },
				                styles: {
				                    popGesture: 'hide'
				                },
				                waiting: {
				                    autoShow: false
				                }
				            });
				            return;
						}
						app.setCinema(info);
						mui.openWindow({
							url: './sonPage/pushTask.html',
							id: 'pushTask',
							preload: true,
							show: {
								aniShow: 'pop-in'
							},
							styles: {
								popGesture: 'hide'
							},
							waiting: {
								autoShow: false
							}
						});
					},
					movieInfo: function(id,obj){//显示图片信息
//						if(!app.getUser().memid){
//							mui.openWindow({
//				                url: './html/login.html',
//				                id: 'login',
//				                preload: true,
//				                show: {
//				                    aniShow: 'pop-in'
//				                },
//				                styles: {
//				                    popGesture: 'hide'
//				                },
//				                waiting: {
//				                    autoShow: false
//				                }
//				            });
//				            return;
//						}
						localStorage.removeItem('__movieinfo_')
	               		localStorage.setItem('__movieinfo_',id);
	               		localStorage.setItem('_jidian_chang_',JSON.stringify(obj))
                        mui.openWindow({
                            url: '/sonPage/movieInfo.html',
                            id: 'movieInfo',
                            preload: true,
                            show: {
                                aniShow: 'pop-in'
                            },
                            styles: {
                                popGesture: 'close'
                            },
                            waiting: {
                                autoShow: false
                            }
                        });
		            },
		            toFilmNews: function(id){
	               		localStorage.setItem('_filmNewsId_',id);
                        mui.openWindow({
                            url: './sonPage/filmNews.html',
                            id: 'filmNews',
                            preload: true,
                            show: {
                                aniShow: 'pop-in'
                            },
                            styles: {
                                popGesture: 'close'
                            },
                            waiting: {
                                autoShow: false
                            }
                        });
	               }
	               
				}
			})
			
			
			
			
		</script>
	</body>

</html>