<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>影娱宝</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../css/mui.min.css">
		<link rel="stylesheet" type="text/css" href="../css/color.css"/>
	</head>
	<body>
		<div id="changePassword">
			<header id="header" class="mui-bar mui-bar-nav">
		        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		        <h1 class="mui-title">修改密码</h1>
		    </header>
		    <div id="content" class="mui-content">
		    	<ul class="mui-table-view">
					<li class="mui-input-row">
                		<label>用户名</label>
                		<input id="memName" type="text" class="mui-input" v-model="newUser.memName=user.memName" disabled="disabled"/>
					</li>
					<li class="mui-input-row">
		                <label>新密码</label>
		                <input type="password" class="mui-input" v-model="newUser.memPwdNow" />
					</li>
				</ul>
				<button type="button" class="mui-btn mui-btn-red" style="margin-top: 50px;width: 90%;left: 50%;-webkit-transform: translate(-50%);" :disabled="newUser.memPwdOld==''||newUser.memPwdNow==''" @tap="changePassword(newUser)">保存</button>
		    </div>
		</div>
		<script src="../js/mui.min.js"></script>
		<script src="../js/immersed.js"></script>
		<script src="../js/app.js"></script>
		<script src="../libs/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/movieAjax.js" type="text/javascript" charset="utf-8"></script>
		<script src="../libs/md5.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			new Vue({
				el: '#changePassword',
				data: {
					user: {
						
					},
					newUser: {
						memName: '',
						memPwdNow: ''
					}
				},
				mounted: function(){
					var that = this;
					mui.init();
					//账号
			        var userLogin = app.getUser();
			        that.user = userLogin;
			        aja.getMemberByID(userLogin.memid, function(data){
			        	that.user = data;
			        	console.log(JSON.stringify(data))
			        })
					mui.plusReady(function(){
                	//返回刷新主页
		                var main = plus.webview.currentWebview().opener();
	                	//返回
		                var old_back = mui.back;
				        mui.back = function(){
				            mui.currentWebview.close();
				            mui.fire(main, "settingrefresh");
				            old_back();
				        }
	                })
				},
				methods: {
					changePassword: function(info){
						var that = this;
		            	if(info.memPwdNow.length < 6){
		            		plus.nativeUI.toast('密码最短为 6 个字符');
							return;
		            	}
		            	that.user.memName = info.memName;
		            	that.user.memPwd = hex_md5(info.memPwdNow);
		            	aja.updateMembers(that.user, function(data){
	            			plus.nativeUI.toast('密码修改成功');
	            			localStorage.setItem('_user_',JSON.stringify(that.user))
	            		})
					}
				}
			})
		</script>
	</body>
</html>
