<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>片方/发行方</title>
	<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	
	<link rel="stylesheet" href="../css/mui.min.css">
	<link rel="stylesheet" href="../css/color.css">
	<style>
		html,
		body {
			background-color: #efeff4;
		}
		.mui-bar~.mui-content .mui-fullscreen {
			top: 44px;
			height: auto;
		}
		.mui-pull-top-tips {
			position: absolute;
			top: -20px;
			left: 50%;
			margin-left: -25px;
			width: 40px;
			height: 40px;
			border-radius: 100%;
			z-index: 1;
		}
		.mui-bar~.mui-pull-top-tips {
			top: 24px;
		}
		.mui-pull-top-wrapper {
			width: 42px;
			height: 42px;
			display: block;
			text-align: center;
			background-color: #efeff4;
			border: 1px solid #ddd;
			border-radius: 25px;
			background-clip: padding-box;
			box-shadow: 0 4px 10px #bbb;
			overflow: hidden;
		}
		.mui-pull-top-tips.mui-transitioning {
			-webkit-transition-duration: 200ms;
			transition-duration: 200ms;
		}
		.mui-pull-top-tips .mui-pull-loading {
			/*-webkit-backface-visibility: hidden;
			-webkit-transition-duration: 400ms;
			transition-duration: 400ms;*/

			margin: 0;
		}
		.mui-pull-top-wrapper .mui-icon,
		.mui-pull-top-wrapper .mui-spinner {
			margin-top: 7px;
		}
		.mui-pull-top-wrapper .mui-icon.mui-reverse {
			/*-webkit-transform: rotate(180deg) translateZ(0);*/
		}
		.mui-pull-bottom-tips {
			text-align: center;
			background-color: #efeff4;
			font-size: 15px;
			line-height: 40px;
			color: #777;
		}
		.mui-pull-top-canvas {
			overflow: hidden;
			background-color: #fafafa;
			border-radius: 40px;
			box-shadow: 0 4px 10px #bbb;
			width: 40px;
			height: 40px;
			margin: 0 auto;
		}
		.mui-pull-top-canvas canvas {
			width: 40px;
		}
		.mui-slider-indicator.mui-segmented-control {
			background-color: #efeff4;
		}
		.mui-segmented-control.mui-scroll-wrapper .mui-scroll{
			display: flex;
			justify-content: space-around;
			width: 100%;
			height: 39px;
		}
		.mui-fullscreen .mui-segmented-control~.mui-slider-group{
			top:36px;
			bottom: 44px;
		}
		.mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
			border-bottom: 2px solid #dd524d;
		}
		/*list*/
		.mui-scroll .mui-table-view .mui-table-view-cell img {
			width: 80px;
			height: 100px;
			line-height: 100px;
			margin-right: 10px;
		}
		.mui-table-view-cell.mui-active{
			background-color: #fff;
		}
		.fix-bottom{
			position: fixed;
			bottom: 0px;
			left: 0;
			right: 0;
			text-align: center;
		}
		.fix-bottom button{
			width: 100%;
			height: 42px;
			border-radius: 0;
		}
		.cinemaBg{
			background: #eee;
		}
		/*右上角下拉菜单*/
		#topPopover {
			position: fixed;
			top: 16px;
			right: 6px;
		}
		#topPopover .mui-popover-arrow {
			left: auto;
			right: 6px;
		}
	</style>
	
</head>
<body>
	<div id="main">
		<header id="header" class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			 <h1 class="mui-title">我的任务</h1>
		</header>

		<div class="mui-content">
			<div id="slider" class="mui-slider mui-fullscreen">
				<div id="sliderSegmentedControl" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted mui-segmented-control-negative">
					<div class="mui-scroll mui-items">
						<a class="mui-control-item mui-active" href="#item1mobile" id="item1">
							任务中
						</a>
						<a class="mui-control-item" href="#item2mobile" id="item2">
							待审核
						</a>
						<a class="mui-control-item" href="#item3mobile" id="item3">
							已完成
						</a>
						<a class="mui-control-item" href="#item4mobile" id="item4">
							未完成
						</a>
					</div>
				</div>
				<div id="scontent" class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view">
									<!--没有订单-->
									<li class="mui-table-view-cell" v-if="executorys.length==0">
				            			<div class="mui-text-center">
				            				<img src="../images/default.png">	 
				            			</div>
					                </li>
					                <!--有订单-->
									<li class="mui-table-view-cell" v-for="item in executorys">
										<div class="mui-pull-left">
											<div>
												<img :src='item.titleImg|photo' @tap="movieInfo(item.filmId)"/>
											</div>
										</div>
										<div class="mui-media-body" @tap="showTask(item)">
											<span>《<span v-text="item.filename"></span>》</span>
											<div class='font-blue font-min'>票房奖励<span v-text="item.bili+item.ptbili"></span>%</div>
											<!--<div>{{item.ptbili}}</div>-->
											<div class='font-gray font-min'>总积分：<span v-text="item.integral"></span> 剩余:
												<span class="font-red" v-text="item.remainintegral < 0 ? 0 : item.remainintegral"></span>
											</div>
											<div class='font-gray font-min'>最低人数：<span v-text="item.minicount"></span>人/场</div>
											<div class='font-gray font-min'>任务时间：<span v-text="item.startdate"></span>至<span v-text="item.enddate"></span></div>
											<button class="mui-btn mui-btn-link mui-pull-right" >查看详情>></button>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="item2mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view">
									<!--没有订单-->
									<li class="mui-table-view-cell" v-if="waitChecks.length==0">
				            			<div class="mui-text-center">
				            				<img src="../images/default.png">	 
				            			</div>
					                </li>
					                <!--有订单-->
									<li class="mui-table-view-cell mui-media" v-for="item in waitChecks" v-if="item.checks==2" >
										<div class="mui-pull-left">
											<div>
												<img :src='item.titleImg|photo' @tap="movieInfo(item.filmId)"/>
											</div>
										</div>										
						                    <div class="mui-media-body">
						                      	<div class='font-gray font-min'>影院：<span v-text="item.cinema"></span></div>						                    
						                        <div class='font-gray font-min'>排场：<span v-text="item.showtime"></span></div>
						                        <div class='font-gray font-min'>票价：<span v-text="item.ticketprice"></span>元</div>
						                        <div class='font-gray font-min'>团体人数：<span v-text="item.seatcount"></span></div>
					                        	<div class="mui-pull-right font-red">
					                        		<button class="mui-btn mui-btn-red" @tap="movieCheck(item)">审核</button>
												</div>
						                        <div class='font-gray font-min'>票房：<span v-text="item.ticketprice*item.seatcount"></span>元 </div>
						                    </div>
										
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="item3mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view">
									<!--没有订单-->
									<li class="mui-table-view-cell" v-if="finished.length==0">
				            			<div class="mui-text-center">
				            				<img src="../images/default.png">	 
				            			</div>
					                </li>
					                <!--有订单-->
									<li class="mui-table-view-cell mui-media" v-for="item in finished">
										<div class="mui-pull-left">
											<div>
												<img :src='item.titleImg|photo' @tap="movieInfo(item.filmId)"/>
											</div>
										</div>
										<div class="mui-media-body">
											<div><span v-text="item.filename"></span></div>											 
											<div class='font-blue font-min'>票房奖励<span v-text="item.bili+item.ptbili"></span>%</div>
											<div class='font-gray font-min'>总积分:<span v-text="item.integral"></span> 剩余:
												<span class="font-red"><span v-text="item.remainintegral < 0 ? 0 : item.remainintegral"></span></span>
											</div>
											<div class='font-gray font-min'>最低人数：<span v-text="item.minicount"></span>人/场</div>
											<div class='font-gray font-min'>任务时间：<span v-text="item.startdate"></span>至<span v-text="item.enddate"></span></div>
											<div class='font-red font-min'>任务完成. 团体票房收入 <span v-text="(item.integral-item.remainintegral)/(item.bili+item.ptbili)*100"></span>元</div>
											<button class="mui-btn mui-btn-link mui-pull-right"  @tap="details(item)">查看详情>></button>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="item4mobile" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view">
									<!--没有订单-->
									<li class="mui-table-view-cell" v-if="unfinished.length==0">
				            			<div class="mui-text-center">
				            				<img src="../images/default.png">	 
				            			</div>
					                </li>
					                <!--有订单-->
									<li class="mui-table-view-cell mui-media" v-for="item in unfinished" v-if="item.checks==4">
										<div class="mui-pull-left">
											<div>
												<img :src='item.titleImg|photo' @tap="movieInfo(item.filmId)"/>
											</div>
										</div>
										<div class="mui-media-body" @tap="movieCheck(item)">
											    <div class='font-gray font-min'>影院：<span v-text="item.cinema"></span></div>						                    
						                        <div class='font-gray font-min'>排场：<span v-text="item.showtime"></span></div>
						                        <div class='font-gray font-min'>票价：<span v-text="item.ticketprice"></span>元</div>
						                        <div class='font-gray font-min'>团体人数：<span v-text="item.seatcount"></span></div>
					                        	<div class="mui-pull-right font-red">
					                        		<button class="mui-btn mui-btn-link mui-pull-right" @tap="movieCheck(item)">查看详情>></button>
												</div>
						                        <div class='font-gray font-min'>票房：<span v-text="item.ticketprice*item.seatcount"></span>元 </div>
						                        <div class='font-red font-min' v-if="item.checks==4">审核未通过</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div id="addTask" class="fix-bottom">
					<button class="mui-btn mui-btn-red" @tap="pushTask">发布任务</button>
				</div>
			</div>
		</div>
	</div>

	<script src="../js/mui.min.js"></script>
	<script src="../js/immersed.js"></script>
	<script src="../js/mui.pullToRefresh.js"></script>
	<script src="../js/mui.pullToRefresh.material.js"></script>
	<script src="../libs/easymob-webim-sdk/jquery-1.11.1.js" type="text/javascript"></script>
	<script src="../libs/vue.js" type="text/javascript"></script>
	<script src="../js/movieAjax.js" type="text/javascript"></script>
	<script src="../js/app.js" type="text/javascript"></script>
	
	
	<script>
		new Vue({
			el: '#main',
			data: {
				executorys: [//任务中
					{
						id:'101',
						memid: 123456,
						titleImg: 'images/qihoo.png',
						filename: '让子弹飞',
						integral: '1000',
						bili: '10',
						ptbili: '',
						remainintegral: '500',
						minicount: '50',
						minticketprice: '40',
						startdate: '2017-10-1',
						enddate: '2017-10-30',
						status: '0',//状态
						createtime: '2017-9-30'
					}
				],
				waitChecks: [//待审核
					{
						id:'201',
						memid: 123456,
						titleImg: 'images/qq.png',
						filename: '让子弹飞',
						integral: '1000',
						bili: '10',
						ptbili: '',
						remainintegral: '500',
						minicount: '50',
						startdate: '2017-10-1',
						enddate: '2017-10-30',
						status: '0',
						createtime: '2017-9-30'
					},
					{
						id:'202',
						memid: 111111,
						titleImg: 'images/qq.png',
						filename: '羞羞的铁拳',
						integral: '1000',
						bili: '5',
						ptbili: '',
						remainintegral: '500',
						minicount: '50',
						startdate: '2017-10-1',
						enddate: '2017-10-30',
						status: '0',
						createtime: '2017-9-30'
					}
				],
				/*waitChecks: [],
				executorys: [],*/
				finished: [],
				unfinished: []
			},
			 mounted: function (){
				mui.init();
				var item = localStorage.getItem('_tabItem_')
				var defaultTab = document.getElementById(item+"mobile");
				var defaultTitle = document.getElementById(item);
			    //模拟首页点击
			    mui.trigger(defaultTab, 'tap');
			    mui.trigger(defaultTitle, 'tap');
			    //切换选项卡高亮
			    var current = document.querySelector(".mui-slider-group>.mui-slider-item.mui-active");
			    var current1 = document.querySelector(".mui-slider .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active");
			    if (defaultTab !== current) {
			        current.classList.remove('mui-active');
			        current1.classList.remove('mui-active');
			        defaultTab.classList.add('mui-active');
			        defaultTitle.classList.add('mui-active');
			    }
				//阻尼系数
				var that = this;
				var deceleration = mui.os.ios?0.003:0.0009;
				mui('.mui-scroll-wrapper').scroll({
					bounce: false,
					indicators: true, //是否显示滚动条
					deceleration:deceleration
				});
				var userLogin = app.getUser();
				that.user = userLogin;
				//上下加载
				mui.plusReady(function() {
					//顶部状态栏
					var header = document.getElementById('sliderSegmentedControl');
					var scontent = document.getElementById('scontent');
					header.style.paddingTop = app.Immersed(header)+'px';
					header.style.height = header.offsetHeight + app.Immersed(header) + 'px';
					//禁止右滑退出
					var wv=plus.webview.currentWebview();
					// 关闭侧滑返回功能
					wv.setStyle({'popGesture':'none'});
					//数据初始化
					//页面一
					function getData(){
						 aja.downAjax(0,1,function(data){
							that.executorys = data.list;
							console.log(JSON.stringify(that.executorys))
							that.executorys.pageNum = data.pageNum;
	                    });
	                    //页面二  待审核
						aja.getTaskOrderByComID(that.user.memid,1,'',function(data){
							that.waitChecks = data.list;
							that.waitChecks.pageNum = data.pageNum;						
							//console.log(JSON.stringify(data.list))
	                    });
						//页面三
						aja.downAjax(2,1,function(data){
							that.finished = data.list;
							console.log(JSON.stringify(data.list))
							that.finished.pageNum = data.pageNum;
	                    });
	                    //页面四 未完成 -- 审核不通过、过期未执行
						aja.getTaskOrderByComID(that.user.memid,1,'',function(data){
							that.unfinished = data.list;
							that.unfinished.pageNum = data.pageNum;
	                    });
					}
					getData();//数据初始化
					window.addEventListener("pageflowrefresh", function (e) {
					   getData();
					});
					//循环初始化所有下拉刷新，上拉加载。
					mui.each(document.querySelectorAll('.mui-slider-group .mui-scroll'), function(index, pullRefreshEl) {
						mui(pullRefreshEl).pullToRefresh({
							down: {
								callback: function() {
									var self = this;
									
									setTimeout(function() {
										var currentText = document.querySelector('.mui-control-item.mui-active').innerHTML.trim();
										var status = '';
										switch (currentText){
											case '任务中':
												status = 0;
												aja.downAjax(0,1,function(data){
													that.executorys = data.list;
													that.executorys.pageNum = 1;
													self.endPullDownToRefresh();
													self.refresh(true)
							                    });
												break;
											case '待审核':
												status = 1;
												aja.getTaskOrderByComID(that.user.memid,1,'',function(data){
													that.waitChecks = data.list;
													that.waitChecks.pageNum = 1;
													self.endPullDownToRefresh();
													self.refresh(true)
							                    });
												break;
											case '已完成':
												status = 2;
												aja.downAjax(2,1,function(data){
													that.finished = data.list;
													that.finished.pageNum = 1;
													self.endPullDownToRefresh();
													self.refresh(true)
							                    });
												break;
											case '未完成':
												status = 0;
												aja.getTaskOrderByComID(that.user.memid,1,'',function(data){
													that.unfinished = data.list;
													that.unfinished.pageNum = 1;
													self.endPullDownToRefresh();
													self.refresh(true)
							                    });
												break;
											default:
												break;
										}
										
									}, 1000);
								}
							},
							up: {
								contentrefresh : "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
      							contentnomore:'没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
								callback: function() {
									var self = this;
									
									setTimeout(function() {
										var currentText = document.querySelector('.mui-control-item.mui-active').innerHTML.trim();
										var status = '';
										switch (currentText){
											case '任务中':
												status = 0;
												aja.upAjax(0,that.executorys.pageNum+1,function(data){
													if(!data.list[0]){
														self.endPullUpToRefresh(true);
													}else{
														app.afterList(that.executorys,data.list)
														that.executorys.pageNum++;
														self.endPullUpToRefresh();
													}
												})
												break;
											case '待审核':
												status = 1;
												aja.getTaskOrderByComID(that.user.memid,that.waitChecks.pageNum+1,'',function(data){
													if(!data.list[0]){
														self.endPullUpToRefresh(true);
													}else{
														app.afterList(that.waitChecks,data.list);
														that.waitChecks.pageNum++;
														self.endPullUpToRefresh();
													}
												})
												break;
											case '已完成':
												status = 2;
												aja.upAjax(2,that.finished.pageNum+1,function(data){
													if(!data.list[0]){
														self.endPullUpToRefresh(true);
													}else{
														app.afterList(that.finished,data.list);
														that.finished.pageNum++;
														self.endPullUpToRefresh();
													}
												})
												break;
											case '未完成':
												status = 1;
												aja.getTaskOrderByComID(that.user.memid,that.unfinished.pageNum+1,'',function(data){
													if(!data.list[0]){
														self.endPullUpToRefresh(true);
													}else{
														app.afterList(that.unfinished,data.list);
														that.unfinished.pageNum++;
														self.endPullUpToRefresh();
													}
												})
												break;
											default:
												break;
										}
									}, 1000);
								}
							}
						});
					});
					//--
					var old_back = mui.back;
			        mui.back = function(){
			            mui.currentWebview.close();
			            old_back();
			        }
				});
			 },
			methods: {
				showTask: function(obj){//任务中
					localStorage.setItem('_pianfang_task_',JSON.stringify(obj));
//					var wv=plus.webview.create('../sonPage/allTaskList.html','allTaskList',{'popGesture':'close'});
//	               	    wv.show();	
	               	 		mui.openWindow({
							url: '../sonPage/allTaskList.html',
							id: 'allTaskList',
							preload: true,
							show: {
								aniShow: 'pop-in'
							},
							styles: {
								popGesture: 'close'
							},
							waiting: {
								autoShow: false
							}
						});
				},
				movieCheck: function(obj) {//待审
					localStorage.setItem('_jidian_task_',JSON.stringify(obj));
//					console.log(JSON.stringify(obj))	
	               	    	mui.openWindow({
							url: '../sonPage/checkItem.html',
							id: 'checkItem',
							preload: true,
							show: {
								aniShow: 'pop-in'
							},
							styles: {
								popGesture: 'close'
							},
							waiting: {
								autoShow: false
							}
						});
				},
				pushTask: function (){//发布						
	               	    mui.openWindow({
							url: '../sonPage/pushTask.html',
							id: 'pushTask',
							preload: true,
							show: {
								aniShow: 'pop-in'
							},
							styles: {
								popGesture: 'close'
							},
							waiting: {
								autoShow: false
							}
						});
				},
				details: function (obj) {//片方已完成任务的详情
                	    localStorage.setItem('_pianfang_task_',JSON.stringify(obj));
//              	    var wv=plus.webview.create('../sonPage/finishedp.html','finishedp',{'popGesture':'close'});
//	               	    wv.show();	   
	               	mui.openWindow({
							url: '../sonPage/finishedp.html',
							id: 'finishedp',
							preload: true,
							show: {
								aniShow: 'pop-in'
							},
							styles: {
								popGesture: 'close'
							},
							waiting: {
								autoShow: false
							}
						});    
               },
               movieInfo: function(id){
               		localStorage.setItem('__movieinfo_',id);
//             		var wv=plus.webview.create('../sonPage/movieInfo.html','movieInfo',{'popGesture':'close'});
//	               	    wv.show();	          
	              mui.openWindow({
							url: '../sonPage/movieInfo.html',
							id: 'movieInfo',
							preload: true,
							show: {
								aniShow: 'pop-in'
							},
							styles: {
								popGesture: 'close'
							},
							waiting: {
								autoShow: false
							}
						});     	    
               }
			}
		})
	</script>
</body>
</html>